<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="2000x2000" href="{{asset('image/pogo_icone.png')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/base.css')}}" type="text/css"/>  
        {% block stylesheets %}  
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="topnav">
                <a class="active" href="{{path('home')}}">Home</a>
                <a href="{{path('create')}}">Create</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <input type="radio" name="check" value="Darkmode">
            </div>    
        </header>
        {% block body%}{% endblock %}
        <footer>
            <p> Copyright 2021</p>
        </footer>

        <script type="text/javascript" src="{{asset('js/blackmode.js')}}"></script>
        {% block javascripts %}    
        {% endblock %}
    </body>
</html>
